@import url('https://fonts.googleapis.com/css2?family=Kite+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kite+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #D9D9D9;
}

/*NAV*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.938em;
    background-color: #4F6F52;
}

nav > img{
    width: 20%;
}


.fa-bars,
.fa-circle-user,
.fa-cart-shopping {
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
}

.fa-cart-shopping {
    padding-left: 5px;
}

.search {
    display: none;
}

/*CATEGORY*/
.fa-xmark {
    padding: 15px;
    font-size: 1.563em;
    color: #ffffff;
    cursor: pointer;
}


.category_container {
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 557px;
    background-color: #4F6F52;
    z-index: 3;
    display: none;
    -webkit-animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-hor-left {
    0% {
        -webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
}

.category {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.category>h2 {
    margin: 0px 0 40px 0;
    text-decoration: underline 3px solid #D9D9D9;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #D9D9D9;
}

.list-category {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    list-style-type: none;
}

.list-category li{
    cursor: pointer;
}

.list-category>li>a {
    text-decoration: none;
    color: #D9D9D9;
}

.redes {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 20px 0;
    font-size: 30px;
}

.redes>a {
    color: #D9D9D9;
}

.fa-instagram {
    margin: 0 10px;
}

/*SECTION SLOGAN*/
.slogan_container {
    width: 100%;
    position: relative;
    min-height: 500px;
}

.search_main {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    z-index: 2;
}

.inputSearch {
    width: 350px;
    height: 45px;
    border: none;
    border-radius: 50px;
}

.inputSearch::placeholder {
    padding: 20px;
    font-size: 20px;
}

.search_button {
    position: absolute;
    left: 94%;
    transform: translateX(-50%);
    height: 45px;
    width: 45px;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    background-color: transparent;
}

.slogan {
    width: 90%;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    text-align: center;
    color: #ffffff;
    z-index: 2;
}

.slogan>h2 {
    font-size: 45px;
    font-family: "Kite One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 40px;
    opacity: 0.3;
}

.slogan>p {
    font-size: 25px;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.buttonRegister {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #4F6F52;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: #000000;
    opacity: 0.5;
    z-index: 1;
}

/*SECTION OFFER*/
.offer {
    margin: 50px 0;
}

.offer_container {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.slider {
    display: flex;
    gap: 10px;
    width: calc(100px * 12);
    animation: slider 6s infinite linear;
}

@keyframes slider {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-100vw * 6));
        transform: translateX(calc(-100px * 6));
    }
}

.slider_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 180px;
}

.slider_container>h3 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.slider_container>p {
    font-size: 15px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.circle {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #000000;
}

.fa-percent,
.fa-dollar-sign,
.fa-credit-card,
.fa-truck {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    font-size: 40px;
}
/* SECTION CARDS */
.section-cards{
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
.cards-container{
    display: flex;
    flex-direction: column;
    width: 95%;
}

.card-content img{
    display: flex;
    margin: auto ;
    min-width: 250px;
    width:95%;
    max-width: 500px;
    height: 95%;
}

.card-info{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    position: relative;
    bottom: 50%;
    font-family: "Inter", sans-serif;
}

.card-info h5 {
    font-size: 15px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.363);
    text-align: center;
    padding: 8px 0;
    color: #fff;
    width: 100%;
}

.card-info a{
    border-radius: 15px;
    background-color: #4F6F52;
    margin:8px auto 0;
    color: white;
    text-decoration-line: none;
    padding: 8px 25px;
    text-transform: uppercase;

}

/*SECTION ABOUT US*/
.about>h2 {
    text-align: center;
    font-size: 35px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
}

.line {
    width: 100%;
    height: 3px;
    background-color: #4F6F52;
}

.aboutUs {
    position: relative;
    width: 100%;
    height: 520px;
}

.aboutUs_container {
    width: calc(100% - 60px);
    margin: 0 30px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
    z-index: 3;
}

.aboutUs_container>p {
    margin: 40px 0;
    font-size: 20px;
    text-align: justify;
}

.fa-location-dot {
    font-size: 60px;
    color: #ff5f02;
}

.aboutUs_container>h3>a {
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;
}

.positionImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.img_container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 260px 260px;
}

.img1>img,
.img2>img {
    width: 100%;
    height: 100%;
}

.img3>img {
    width: 100%;
    height: 100%
}

.img3 {
    grid-column: 1/3;
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 520px;
    background-color: #000000;
    z-index: 1;
    opacity: 0.7;
}

footer > p{
    background-color: #4F6F52;
}

/* --FOOTER-- */
.footer {
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: "Poppins", sans-serif;
}
.container-footer{
    height: 100%;
    margin: 20px 30px 0;
    text-align: center;
    
}

.footer-card {
    margin: 20px auto 0;
    padding: 10px 0;
    width: 210px;
}

.footer-card h4{
    font-size: 23px;
    color: #fff;
}
.footer-card ul{
    list-style: none;
}
.footer-card ul a{
    text-decoration: none;
    color: #fff;
    text-decoration-line: none;
}

.footer-redes {
    align-self: center;
    display: flex;
    flex-direction: row;
    margin: 15px 0 20px;
}

.footer-redes a{
    font-size: 30px;
    color: #fff;
    padding: 5px;   
}

.footer-copyright{
    text-align: center;
    font-size: 12px;
    background-color: #D9D9D9;
    margin: 5px auto ;
    width: 100%;

}

/*RESPONSIVE*/
@media (min-width: 560px) {
    .section-cards{
        display: flex;
        margin: auto;
        justify-content: center;
        padding-top: 50px;
        width: 95%;
    }
    
    .cards-container{
        display: flex;
        flex-direction: row;
        padding: 10px;
        flex-wrap: wrap;
    }
    .card-content {
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 50%;
        position: relative;
    }
    
    
    .card-content img{
        padding: 5px 6px;
        margin: 0 auto 10px;
        height: 100%;
        min-width: 200px;
        width: 100%;
        max-width: 1000px;
    }

    .card-info{
        text-align: center;
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 45%;
    }
    
    .card-info h5 {
        font-size: 18px;
        text-transform: uppercase;
        background-color: rgba(0, 0, 0, 0.363);
        text-align: center;
        padding: 8px 0;
        color: #fff;
        width: 100%;
    }
    .container-footer{
        /* display: flex; */
        padding: 5px 0;/
    }
    .footer-card{ 
        font-size: 18px;
        float: left;
        width: 50%;
    }

    .footer-card h4{
        font-size: 25px;
    }

    .footer-redes a{
        font-size: 36px;
    }
    .card-right{
        margin-left: 15px;
        width: 100%;
    }
}

@media (min-width: 768px) {

    /*NAV*/
    nav > img{
        width: 15%;
    }

    .bars {
        display: none;
    }

    .search {
        display: block;
        position: relative;
    }

    .inputSearch {
        width: 500px;
        height: 50px;
    }

    .search_nav {
        position: absolute;
        left: 88%;
        height: 50px;
        width: 50px;
        font-size: 20px;
        border: none;
        border-radius: 50px;
        background-color: transparent;
    }

    .fa-circle-user,
    .fa-cart-shopping {
        font-size: 35px;
    }

    .fa-cart-shopping {
        padding-left: 10px;
    }

    .search_main {
        display: none;
    }

    /*CATEGORY*/
    .fa-xmark,
    .category_container,
    .category,
    .category>h2,
    .list-category,
    .list-category>li>a,
    .redes,
    .redes>a,
    .fa-instagram {
        all: unset;
    }

    #togglerXmark,
    .category>h2,
    .redes {
        display: none;
    }


    .category {
        position: absolute;
        z-index: 2;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
    }

    .list-category {
        display: flex;
        justify-content: space-between;
        margin: 30px 20px;
        font-size: 25px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #D9D9D9;
        list-style-type: none;
    }

    /*SECTION SLOGAN*/
    .slogan {
        width: 95%;
        top: 120px;
    }

    .slogan>h2 {
        font-size: 59px;
        margin-bottom: 60px;
    }

    .slogan>p {
        font-size: 35px;

    }

    .buttonRegister {
        width: 250px;
        height: 60px;
        font-size: 35px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .slogan_container,
    .backgroundVideo,
    video {
        height: 520px;
    }

    /*SECTION OFFER*/
    .slider {
        width: calc(250px * 8);
        animation: slider 6s infinite linear;
    }

    @keyframes slider {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }

        100% {
            -webkit-transform: translateX(calc(-250vw * 4));
            transform: translateX(calc(-250px * 4));
        }
    }

    .slider_container {
        width: 250px;
        height: 250px;
    }

    .circle {
        width: 150px;
        height: 150px;
    }

    .fa-percent,
    .fa-dollar-sign,
    .fa-credit-card,
    .fa-truck {
        font-size: 60px;
    }

    .slider_container>h3 {
        font-size: 30px;
    }

    .slider_container>p {
        font-size: 20px;
    }

    /*ABOUT*/
    .about > h2{
        font-size: 50px;
    }

    .aboutUs{
        height: 750px;
    }

    .aboutUs_container{
        width: calc(100% - 150px);
        margin: 0 75px;
    }

    .aboutUs_container > p{
        font-size: 30px;
    }

    .fa-location-dot{
        font-size: 120px;
    }

    .aboutUs_container>h3>a{
        font-size: 55px;
    }

    .img_container{
        grid-template-rows: 400px 350px;
    }

    .capa{
        height: 750px;
    }

    .footer{
        flex-direction: row;
        padding: 20px 0;
    }
    .container-footer{
        display: flex;
        justify-content: center;
        margin: auto;
        margin: 0;
        width: 80%;
    }

    .card-right{
        width: 360px;
    }

    .footer-redes{
        flex-direction: column;
        margin: 10px auto 0;
    }

    .footer-copyright{
        font-size: 15px;
    }

}

@media (min-width: 1024px) {
    nav {
        padding: 0 30px;
    }

    nav > img{
        width: 10%;
        padding: 15px 0;
    }

    .inputSearch {
        width: 600px;
    }

    .search_nav {
        left: 92%;
    }

    .fa-circle-user,
    .fa-cart-shopping {
        font-size: 40px;
    }

    .list-category {
        justify-content: space-around;
    }

    .slogan {
        width: 100%;
        top: 120px;
    }

    .slogan>h2 {
        font-size: 80px;
        margin-bottom: 40px;
    }

    .slogan_container,
    .backgroundVideo,
    video {
        height: 560px;
    }

    /*SECTION OFFER*/
    .slider {
        width: 100%;
        width: calc(350px * 8);
        animation: slider 6s infinite linear;
    }

    @keyframes slider {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }

        100% {
            -webkit-transform: translateX(calc(-350vw * 4));
            transform: translateX(calc(-350px * 4));
        }
    }

    .slider_container {
        width: 350px;
        height: 300px;
    }

    .circle {
        width: 200px;
        height: 200px;
    }

    .fa-percent,
    .fa-dollar-sign,
    .fa-credit-card,
    .fa-truck {
        font-size: 90px;
    }

    .about>h2 {
        font-size: 65px;
    }

    .line{
        height: 8px;
    }

    .aboutUs_container{
        width: calc(100% - 250px);
        margin: 0 125px;
    }
    .aboutUs_container>p {
        font-size: 35px;
    }

}

@media(min-width:1360px) {
    nav {
        padding: 0 50px;
    }

    .fa-cart-shopping {
        padding-left: px;
    }

    .slogan>h2 {
        font-size: 100px;
    }


    .slogan_container,
    .backgroundVideo,
    video {
        height: 620px;
    }

    .aboutUs_container{
        width: calc(100% - 300px);
        margin: 0 150px;
    }

    .aboutUs_container>p {
        font-size: 40px;
        margin: 80px 0;
    }

}