<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Public/css/home.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet" />
    <title>ProyectoFinal</title>
</head>

<body>
    <header>
        <nav>
            <i class="fa-solid fa-bars"></i>
            <div class="logo">
                <h1>LOGO</h1>
            </div>
            <form class="search" action="" method="get">
                <input class="inputSearch" type="text" name="" id="" placeholder="Buscar productos, marcas..." />
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
            <div class="nav_conteiner">
                <i class="fa-solid fa-user"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
        </nav>
    </header>
    <main>
        <section class="slogan_container">
            <form class="search_main" action="" method="get">
                <input class="inputSearch" type="text" name="" id="" placeholder="Buscar productos, marcas..." />
                <button type="submit" class="search_button"><i class="fas fa-search"></i></button>
            </form>
            <div class="slogan">
                <h2>El mueble ideal que combina estilo y comodidad</h2>
                <p>¡Hazlo tuyo hoy mismo!</p>
                <button type="button" class="buttonRegister">REGISTRARSE</button>
            </div>
            <video muted autoplay loop>
                <source src="/Public/img/0517 (2).mp4">
            </video>
            <div class="backgrounVideo"></div>
        </section>

        <section class="offer">
            <div class="container1">
                <div class="slider">

                    <div class="slider_container">
                        <div class="circle">
                            <i class="fas fa-percent"></i>
                        </div>
                        <h3>10% OFF</h3>
                        <P>Por transferencia <br>
                            bancaria o con débito
                        </P>
                    </div>
                    <div class="slider_container">
                        <div class="circle">
                            <i class="fas fa-dollar-sign"></i>
                        </div>
                        <h3>20% OFF</h3>
                        <P>En efectivo en <br>
                            nuestro local
                        </P>
                    </div>
                    <div class="slider_container">
                        <div class="circle">
                            <i class="fa-regular fa-credit-card"></i>
                        </div>
                        <h3>6 cuotas</h3>
                        <P>Sin interes</P>
                    </div>
                    <div class="slider_container">
                        <div class="circle">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3>Envios</h3>
                        <P>A todo el país</P>
                    </div>

                    <div class="slider_container">
                        <div class="circle">
                            <i class="fas fa-percent"></i>
                        </div>
                        <h3>10% OFF</h3>
                        <P>Por transferencia <br>
                            bancaria o con débito
                        </P>
                    </div>
                    <div class="slider_container">
                        <div class="circle">
                            <i class="fas fa-dollar-sign"></i>
                        </div>
                        <h3>20% OFF</h3>
                        <P>En efectivo en <br>
                            nuestro local
                        </P>
                    </div>
                    <div class="slider_container">
                        <div class="circle">
                            <i class="fa-regular fa-credit-card"></i>
                        </div>
                        <h3>6 cuotas</h3>
                        <P>Sin interes</P>
                    </div>
                    <div class="slider_container">
                        <div class="circle">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3>Envios</h3>
                        <P>A todo el país</P>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>