<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Public/css/home.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet" />
    <title>ProyectoFinal</title>
</head>

<body>
    <header>
        <nav>
            <div class="bars" id="togglerBars"><i class="fa-solid fa-bars"></i></div>
            <img src="/Public/img/logo.png" alt="Logo-SweetHome" >
            <form class="search" action="" method="get">
                <input class="inputSearch" type="text" name="" id="" placeholder="Buscar productos, marcas..." />
                <button type="submit" class="search_nav"><i class="fas fa-search"></i></button>
            </form>
            <div class="nav_conteiner">
                <a href="../view/login.html"><i class="fa-solid fa-circle-user"></i></a>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </nav>
    </header>
    <main>
        <div class="category_container">
            <i class="fa-solid fa-xmark" id="togglerXmark"></i>
            <div class="category">
                <h2>Categorias</h2>
                <ul class="list-category">
                    <li><a href="#">Home Office</a></li>
                    <li><a href="#">Living</a></li>
                    <li><a href="#">Dormitorio</a></li>
                    <li><a href="#">Comedor</a></li>
                </ul>
            </div>
            <div class="redes">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            </div>
        </div>
        <section class="slogan_container">
            <form class="search_main" action="" method="get">
                <input class="inputSearch" type="text" name="" id="" placeholder="Buscar productos, marcas..." />
                <button type="submit" class="search_button"><i class="fas fa-search"></i></button>
            </form>
            <div class="slogan">
                <h2>El mueble ideal que combina estilo y comodidad</h2>
                <p>¡Hazlo tuyo hoy mismo!</p>
                <button type="button" class="buttonRegister">REGISTRARSE</button>
            </div>
            <video muted autoplay loop>
                <source src="/Public/img/0517 (2).mp4">
            </video>
            <div class="backgroundVideo"></div>
        </section>

        <section class="offer">
            <div class="offer_container">
                <div class="slider">

                    <div class="slider_container">
                        <div class="circle">
                            <i class="fas fa-percent"></i>
                        </div>
                        <h3>10% OFF</h3>
                        <p>Por transferencia <br>o con débito</p>
                    </div>
                    <div class="slider_container">
                        <div class="circle">
                            <i class="fas fa-dollar-sign"></i>
                        </div>
                        <h3>20% OFF</h3>
                        <p>En efectivo en <br>nuestro local</p>
                    </div>
                    <div class="slider_container">
                        <div class="circle">
                            <i class="fa-regular fa-credit-card"></i>
                        </div>
                        <h3>6 cuotas</h3>
                        <p>Sin interés</p>
                    </div>
                    <div class="slider_container">
                        <div class="circle">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3>Envíos</h3>
                        <p>A todo el país</p>
                    </div>

                    <div class="slider_container">
                        <div class="circle">
                            <i class="fas fa-percent"></i>
                        </div>
                        <h3>10% OFF</h3>
                        <p>Por transferencia <br>o con débito</p>
                    </div>
                    <div class="slider_container">
                        <div class="circle">
                            <i class="fas fa-dollar-sign"></i>
                        </div>
                        <h3>20% OFF</h3>
                        <p>En efectivo en <br>nuestro local</p>
                    </div>
                    <div class="slider_container">
                        <div class="circle">
                            <i class="fa-regular fa-credit-card"></i>
                        </div>
                        <h3>6 cuotas</h3>
                        <p>Sin interés</p>
                    </div>
                    <div class="slider_container">
                        <div class="circle">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h3>Envíos</h3>
                        <p>A todo el país</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Cards -->
        <section class="section-cards">
            <div class="cards-container">
                <div class="card-content">
                    <img src="/Public/img/card1.png" alt="...">
                    <div class="card-info">
                        <h5 class="card-title">Home Office</h5>
                        <a href="#" class="btn">Ver más</a>
                    </div>
                </div>
                <div class="card-content">
                    <img src="/Public/img/card2.png" alt="...">
                    <div class="card-info">
                        <h5 class="card-title">Living</h5>
                        <a href="#" class="btn">Ver más</a>
                    </div>
                </div>
                <div class="card-content">
                    <img src="/Public/img/card3.png" alt="...">
                    <div class="card-info">
                        <h5 class="card-title">Dormitorio</h5>
                        <a href="#" class="btn">Ver más</a>
                    </div>
                </div>
                <div class="card-content">
                    <img src="/Public/img/card4.png" alt="...">
                    <div class="card-info">
                        <h5 class="card-title">Comedor</h5>
                        <a href="#" class="btn">Ver más</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Cards -->

        <section class="about">
            <h2>Acerca de nosotros</h2>
            <div class="line"></div>
            <div class="aboutUs">
                <div class="aboutUs_container">
                    <p>
                        Somos una tienda dedicada a ofrecer muebles de diseño excepcional, fusionando estilo y calidad
                        para
                        transformar hogares en espacios de elegancia con materiales de primera calidad y atención al
                        detalle, cada pieza está diseñada para perdurar en el tiempo, convirtiendo cada hogar en un
                        reflejo
                        del buen gusto.
                    </p>
                    <i class="fa-solid fa-location-dot"></i>
                    <h3><a href="#">Donde encontrarnos</a></h3>
                </div>
                <div class="positionImg">
                    <div class="img_container">
                        <div class="img1"><img src="/Public/img/casa-londres-mapelli-comedor-2-1607684717 (1).jpg"
                                alt="" width="50%"></div>
                        <div class="img2"><img src="/Public/img/B0235 (1).jpg" alt="" width="50%"></div>
                        <div class="img3"><img
                                src="/Public/img/modern-living-room-illustration-ai-generative-free-photo (1).jpg"
                                alt="" width="50%"></div>
                    </div>
                    <div class="capa"></div>
                </div>
            </div>
        </section>
    </main>
    
    <footer class="bg-dark">
        <div class="footer">
            <div class="container-footer">
                <div class="footer-card">
                    <div class="cards">
                        <h4>Categorias</h4>
                        <ul>
                            <li><a href="#">Home Office</a></li>
                            <li><a href="#">Living</a></li>
                            <li><a href="#">Dormitorio</a></li>
                            <li><a href="#">Comedor</a></li>
                        </ul>
                    </div>
                </div>
        
                <div class="footer-card card-half">
                    <div class="cards">
                        <h4>Información</h4>
                        <ul>
                            <li><a href="#">Quiénes somos</a></li>
                            <li><a href="#">Medios de pago</a></li>
                            <li><a href="#">Preguntas frecuentes</a></li>
                            <li><a href="#">Politica</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-card card-right">
                    <div class="cards">
                        <h4>Contacto</h4>
                        <ul>
                            <li><a href="#">Av. Corrientes 2027, CABA</a></li>
                            <li><a href="#">Tel: (+5411) 15-5555-0000</a></li>
                            <li><a href="#">info@sweetHome.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-redes">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            </div>
        </div>
        <p class="footer-copyright">Copyright 2024 © Sweet Home. Todos los derechos Reservados.</p>
    </footer>

    <script src="/src/app.js"></script>
</body>

</html>